.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: 3vh;
    overflow: hidden;
}

.home-page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46vw;
    background-color: rgb(211, 131, 66);
    font-family: "Avenir";
    height: 100vh;
    padding: 0 2em;
    font-size: 1rem;
}

.home-page-text {
    border-style: solid;
    border-color:  rgb(80, 51, 28);
    padding: 20px;
    text-align: center;
}

.home-page-image{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.home-page-image img{
    width: 70%;
    /* box-shadow: 5px 10px #888888; */
    /* box-shadow: -10px 10px 8px 10px #888888; */
    
}
