.thanks {
    margin-top: 10em;
    text-align: center;
    box-shadow: -10px 10px 8px 10px #888888;
    width: 30vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.thanksdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}