.Search-shop {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-shop {
    display: flex;
    justify-content: center;
}

.search-bar-shop input{
    margin: 0 0.5em;
    /* display: flex; */
}

.shop {
    height: 30vh;
    width: 30vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em 1em;
    box-shadow: -7px 7px 12px 2px #cfcccc;
}

.shoplist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
